.container {
  display: grid;
  place-items: center;
  margin: 40px 25%;
}

.container > a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
}

thead tr {
  height: 50px;
}

tbody tr {
  height: 50px;
  border-bottom: 1px solid black;
}
